# Создайте файл .env из копии этого файла и замените значения переменных реальными данными

# Database settings
DATABASE_NAME=mydatabase
DATABASE_USER=mydatabaseuser
DATABASE_PASSWORD=mypassword
DATABASE_HOST=localhost
DATABASE_PORT=5432

# Secret key for django app settings
SECRET_KEY = 'your_secret_key'

# DEBUG SETTINGS
DEBUG = your_settings