{% extends 'base.html' %}
{% block content %}
{% include 'includes/menu.html' %}
<div class="container">
    <h1>Добавление нового продукта</h1>
    <div class="row">
        <div class="col-4">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Добавить</button>
                <a href="{% url 'catalog:product_list' %}" class="btn btn-secondary">Отмена</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}