{% extends 'base.html' %}
{% block content %}
{% load my_tags %}
{% include 'includes/menu.html' %}

<style>
    .card-image {
        width: 100%;
        height: 200px;
        overflow: hidden;
        border-radius: 8px;
        margin-bottom: 10px;
    }

    .card-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
</style>

<div class="container">
    <div class="row text-center g-4">
        <div class="col-3 d-flex">
            <div class="card mb-4 box-shadow d-flex flex-column h-100">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
                </div>
                <div class="card-body">
                    <div class="card-image">
                        {% if product.image %}
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                        {% else %}
                        <p class="card-text"> Фото отсутствует</p>
                        {% endif %}
                    </div>
                    <p class="card-text">Стоимость {{ product.price }} руб.</p>
                    <p class="card-text">Категория товара: {{ product.category }}</p>
                    <p class="card-text">Описание товара: {{ product.description|truncatechars:100 }}</p>
                    <a href="/" class="btn btn-lg btn-block btn-outline-primary mb-2">Назад к списку</a>
                    <a href="{% url 'catalog:delete_product' product.pk %}"
                       class="btn btn-lg btn-block btn-outline-danger mb-2">Удалить</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}